/** Menu mobile **/

.menu-mobile {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 5555;
    height: 100%;
    width: 340px;
    max-width: 90%;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.menu-mobile-active {
        visibility: visible;
        transform: translateX(0);
    }
    &-inner {
        opacity: 0;
        transform: translateX(-80px);
        transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s;
    }
    &.menu-mobile-active &-inner {
        opacity: 1;
        transform: translateX(0);
    }
    &-close {
        top: 0;
        width: 30px;
        height: 30px;
        right: 0;
        i {
            font-size: 18px;
        }
        svg {
            color: black;
        }
    }
    &-account {
        background-color: var(--primary-color);
        padding: 5px;
        &__avatar {
            background-color: #fff;
            border-radius: 15px;
            height: 50px;
            width: 50px;
            svg {
                width: 25px;
                height: 25px;
            }
        }
        ul {
            width: calc(100% - 60px);
            flex: 0 0 auto;
            li {
                margin-left: 20px;
                a {
                    color: #222;
                }
            }
        }
    }
    nav {
        ul {
            list-style: none;
            padding-left: 0;
            li {
                position: relative;
                a {
                    border-bottom: 1px solid #00000012;
                    display: block;
                    padding: 8px 7.5px;
                    font-weight: 700;
                    color: #222;
                }
                ul {
                    display: none;
                    li {
                        a {
                            padding-left: 15px;
                            font-weight: 400;
                        }
                        ul {
                            li {
                                a {
                                    padding-left: 22.5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4444;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    &.overlay-active {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }
}

.li-plus {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    top: 0;
    right: 0;
    color: #222;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    &:before,
    &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        background-color: #222;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        -webkit-transform: translate(-50%, -50%) rotate( -90deg);
        -moz-transform: translate(-50%, -50%) rotate(-90deg);
        -ms-transform: translate(-50%, -50%) rotate(-90deg);
        -o-transform: translate(-50%, -50%) rotate(-90deg);
    }
    &:before {
        width: 11px;
        height: 1px;
    }
    &:after { 
        width: 1px;
        height: 11px;
    }
}

.li-plus.clicked {
    transform: rotate(180deg);
    &.li-plus {
        &:before {
            display: none;
        }
    }
}

.cart-quickview {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    max-width: 90%;
    height: 100%;
    background-color: #fff;
    z-index: 4445;
    padding: 15px 0 15px 15px;
    transform: translateX(100%);
    visibility: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: none;
    &.active {
        visibility: visible;
        transform: translateX(0);
    }
    &__head {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        padding-right: 15px;
    }
    &-empty {
        svg {
            width: 250px;
            height: 250px;
        }
        &__button {
            background-color: var(--primary-color);
            display: inline-block;
            padding: 12px 30px;
            color: #fff;
            height: auto;
            line-height: 1.1;
            margin-top: 30px;
            border-radius: 4px;
            -webkit-transition: color .3s, background-color .3s;
            -o-transition: color .3s, background-color .3s;
            transition: color .3s, background-color .3s;
            &:hover {
                color: #fff;
                background-color: var(--primary-variant);
            }
        }
    }
    &__close {
        cursor: pointer;
    }
    &__body {
        padding: 20px 15px 20px 0;
        overflow-y: auto;
        height: calc(100vh - 150px);
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #e5e5e5;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    }
    &__footer {
        font-size: 15px;
        font-weight: 600;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 15px;
        padding-right: 15px;
        .price {
            color: #ed1b2e;
        }
        button {
            display: block;
            text-align: center;
            padding: 10px;
            background-color: var(--primary-color);
            width: 100%;
            border: none;
            outline: none;
            border-radius: 5px;
            color: #fff;
            font-weight: 600;
            -webkit-transition: color .3s, background-color .3s;
            -o-transition: color .3s, background-color .3s;
            transition: color .3s, background-color .3s;
            &:hover {
                background-color: var(--primary-variant);
            }
        }
    }
    &__item {
        margin-bottom: 15px;
        .item__image {
            width: 24%;
            flex: 0 0 auto;
        }
        .item__info {
            width: 76%;
            flex: 0 0 auto;
            padding-left: 15px;
            &-name {
                margin-bottom: 10px;
                a {
                    color: #222;
                    font-weight: 600;
                    font-size: 13px;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
            &-bottom {
                .quantity {
                    width: 50%;
                    flex: 0 0 auto;
                    button,
                    input {
                        width: 35px;
                        border: 1px solid #e5e5e5;
                        color: #222;
                        text-align: center;
                    }
                    button {
                        width: 28px;
                        background-color: #fff;
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    /* Firefox */
                    input[type=number] {
                        -moz-appearance: textfield;
                        border-right: none;
                        border-left: none;
                    }
                }
            }
            &-price {
                width: 50%;
                flex: 0 0 auto;
                font-weight: 600;
                color: var(--primary-color);
                text-align: right;
            }
            .item-remove {
                display: block;
                margin-top: 5px;
                color: var(--primary-color);
                font-size: 12px;
                text-align: right;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.menu-mobile .menu-mobile-close svg path {
    fill: black;
    stroke: #fff;
}


.search-mobile-wrap {
    position: absolute;
    width: 335px;
    height: 200px;
    border-radius: 10px;
    padding-top: 20px;
    background-color: #F6F6F6;
    z-index: 5555;
    top: 0;
    left: calc((100% - 300px)/2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    display: none;
    .search-mobile {
        width: 100%;
        .close-search {
            text-align: end;
            padding-right: 10px;
        }
        h2 {
            text-align: center;
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 24px;
            color: #F6A822;
        }
        .search-input {
            display: flex;
            justify-content: center;
        }
        input {
            height: 40px;
            border-radius: 5px;
            padding-left: 15px;
            padding-right: 40px;
            border: 1px solid #888888;
        }
        form {
            position: relative;
        }
        button {
            position: absolute;    
            top: 6px;
            right: 10px;
        }
    }
    &.search-mobile-active {
        display: block;
        animation: zoomoutin 0.5s;
        transition-timing-function: linear
    }
    @keyframes zoomoutin {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1.0);
        }
    }
}